@page
@model BuildingBuddies.Pages.CountdownModel
@{
    ViewData["Title"] = "Countdown";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Countdown</h2>

You will be connected in @ViewData["remainingDays"] days.

