@page
@model BuildingBuddies.Pages.CountdownModel
@{
    ViewData["Title"] = "Countdown";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section id="top" class="one dark cover">
    <div class="container">

        <header>
            <h2 class="alt">
                You will be connected in @ViewData["remainingDays"] days.
            </h2>
        </header>
    </div>
</section>