@page
@model IndexModel
@{
    ViewData["Title"] = "BuildingBuddies";
}

<section id="top" class="one dark cover">
    <div class="container">

        <header>
            <h2 class="alt">
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.
            </h2>
            <p>
                How it works... 
                Ligula scelerisque justo sem accumsan diam quis<br />
                vitae natoque dictum sollicitudin elementum.
            </p>
        </header>
        
        <footer>
            <a href="#portfolio" class="button scrolly">Register</a>
        </footer>

    </div>
</section>