@page
@model IndexModel
@{
    ViewData["Title"] = "BuildingBuddies";
}

<section id="top" class="one dark cover">
    <div class="container">

        <header>
            <h2 class="alt">
                Meet your building buddies!
            </h2>
            <p>
                Meet the people you communicate with daily via e-mail<br/>
                Create a meeting or use the link in your email to register to an existing meeting.
            </p>
        </header>

    </div>
</section>