@page
@model IndexModel
@{
    ViewData["Title"] = "BuildingBuddies";
}

<br />
<br />
<p>
    <a asp-page="/MeetingChat/Chat">Create a meeting</a>
</p>
<p>
    <a asp-page="/MeetingChat/Chat">Login to chat</a>
</p>
