@page
@model IndexModel
@{
    ViewData["Title"] = "BuildingBuddies";
}

<br />
<br />
<p>
    <a asp-page="/Meetings/Create">Create a meeting</a>
</p>
<p>
    <a asp-page="/Meetings/Create">Login to chat</a>
</p>

