@page
@model IndexModel
@{
    ViewData["Title"] = "BuildingBuddies";
}

<section id="top" class="one dark cover">
    <div class="container">

        <header>
            <h2 class="alt">
                Meet your building buddies!
            </h2>
            <p>
                Meet the people you communicate with daily via e-maily<br/>
                Ligula scelerisque justo sem accumsan diam quis
                vitae natoque dictum sollicitudin elementum.
            </p>
        </header>
        
        <footer>
            <a href="#portfolio" class="button scrolly">Register</a>
        </footer>

    </div>
</section>