@page
@model BuildingBuddies.Pages.RegistrationSuccessfulModel
@{
    ViewData["Title"] = "RegistrationSuccessful";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Registration successful!</h2>
<div>
    
    <br />
    Please, confirm your email before continuing.
</div>

