@page

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SignalR One to One Chat</title>
</head>
<body>
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            var messageInput = document.getElementById('message');
            
            messageInput.focus();

            var connection = new signalR.HubConnectionBuilder()
                .withUrl('/chat')
                .build();

            // nešto što se događa na broadcast
            connection.on('BroadcastMessage', function (name, message) {
                console.log("Broadcast " + name + ": " + message);
                var encodedName = name;
                var encodedMsg = message;

                var liElement = document.createElement('li');
                liElement.innerHTML = '<strong>' + encodedName  + '</strong>:&nbsp;&nbsp;' + encodedMsg;
                document.getElementById('discussion').appendChild(liElement);
            });

            // primanje poruke i prikaz korisniku
            connection.on('Send', function (message) {
                console.log("Send: " + message);
                var encodedMsg = message;

                console.log('send funkcija');
                var liElement = document.createElement('li');
                liElement.innerHTML = encodedMsg;
                document.getElementById('discussion').appendChild(liElement);
            });

            // poziva se na onconnected
            // treba ispisati poruke (prima ih kao neku listu)
            connection.on('History', function (messages) {
                console.log('History');
                console.log(messages);

                messages.forEach(function (message) {
                    var liElement = document.createElement('li');
                    liElement.innerHTML = '<strong>' + message.name + '</strong>:&nbsp;&nbsp;' + message.message;
                    document.getElementById('discussion').appendChild(liElement);
                });

                
            });
            
            // stavlja se event na slanje i dohvaća povijest poruka
            connection.start()
                .then(function () {
                    console.log('connection started');
                    document.getElementById('sendmessage').addEventListener('click', function (event) {
                        console.log('sending... ');
                        console.log(messageInput.value);
                        connection.invoke('SendMessage', messageInput.value);

                        // Clear text box and reset focus for next comment.
                        messageInput.value = '';
                        messageInput.focus();
                        event.preventDefault();
                    });
                })
                .catch(error => {
                    console.error(error.message);
                });
        });
        
    </script>

    <br /><br /><br /><br />

    <div class="container">
        <span id="connId"></span>
        <input type="text" id="message" placeholder="Text"/>
        <input type="button" id="sendmessage" value="Send" />
        <ul id="discussion"></ul>
    </div>

</body>
</html>
