@page

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>SignalR One to One Chat</title>
</head>
<body>
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            var messageInput = document.getElementById('message');

            var name = prompt('Enter your name:', '');

            messageInput.focus();

            var connection = new signalR.HubConnectionBuilder()
                .withUrl('/chat')
                .build();

            connection.on('broadcastMessage', function (name, message) {
                var encodedName = name;
                var encodedMsg = message;

                var liElement = document.createElement('li');
                liElement.innerHTML = '<strong>' + encodedName + '</strong>:&nbsp;&nbsp;' + encodedMsg;
                document.getElementById('discussion').appendChild(liElement);
            });

            connection.start()
                .then(function () {
                    console.log('connection started');
                    document.getElementById('sendmessage').addEventListener('click', function (event) {
                        connection.invoke('Send_PrivateMessage', name, messageInput.value, $("#to").val());
                        console.log('sent');
                        // Clear text box and reset focus for next comment.
                        messageInput.value = '';
                        messageInput.focus();
                        event.preventDefault();
                    });
                })
                .catch(error => {
                    console.error(error.message);
                });
        });
        
    </script>

    <br /><br /><br /><br />

    <div class="container">
        <span id="connId"></span>
        <input type="text" id="to" placeholder="Send to"/>
        <input type="text" id="message" placeholder="Text"/>
        <input type="button" id="sendmessage" value="Send" />
        <ul id="discussion"></ul>
    </div>

</body>
</html>
