@page

<section id="contact" class="three">
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/signalR.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/chat.css">

    <header>
        <h2>Chat</h2>
    </header>

    <ul id="discussion" class="messages"></ul>

    <div class="message_input_wrapper">
        <input type="text" class="message_input" id="message" placeholder="..." />
        <div id="sendmessage" class="send_message text">Send</div>
    </div>


</section>
