@page
@model BuildingBuddies.Pages.Departments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<section id="contact" class="two">
    <p>
        <a asp-page="Create">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </a>
    </p>

    <link rel="stylesheet" type="text/css" href="~/css/table.css">

    <table class="custom">
        <thead>
            <tr>
                <th>Department</th>
                <th>Meeting</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Department)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Meeting.Name)
                    </td>
                    <td>
                        <a asp-page="./Delete" asp-route-id="@item.MeetingID"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>