@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<section id="top" class="one dark cover">
    <div class="container">

        <header>
            <h2 class="alt">
                Thank you for confirming your email.
            </h2>
            <p>
                You can sign in now.
            </p>
        </header>
    </div>
</section>

<script>
    history.pushState(null, null, '/');    
</script>