@page "/logout"
@model LogoutModel
@{
    ViewData["Title"] = "Sign out";
}

<section id="top" class="one dark cover">
    <div class="container">

        <header>
            <h2 class="alt">
                You have successfully logged out of the application.
            </h2>
        </header>
    </div>
</section>