@page
@model BuildingBuddies.Pages.RegistrationSuccessfulModel
@{
    ViewData["Title"] = "RegistrationSuccessful";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<section id="top" class="one dark cover">
    <div class="container">

        <header>
            <h2 class="alt">
                Registration successful!
            </h2>
            <p>
                Please, confirm your email before continuing.
            </p>
        </header>
    </div>
</section>